<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Quyền truy cập Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Litera"
        tools:targetApi="31" >
        <activity
            android:name=".views.activities.FavBookActivity"
            android:exported="false" />
        <!-- BookDetailActivity -->
        <activity
            android:name=".views.activities.BookDetailActivity"
            android:exported="true" /> <!-- RegisterActivity -->
        <activity
            android:name=".views.activities.RegisterActivity"
            android:exported="true" /> <!-- LoginActivity -->
        <activity
            android:name=".views.activities.LoginActivity"
            android:exported="true" /> <!-- MainActivity -->
        <activity
            android:name=".views.activities.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.activities.ProfileUserActivity" />
        <activity android:name=".views.activities.AuthorListActivity" />
        <activity android:name=".views.activities.BookListActivity" />
        <activity android:name=".views.activities.AddToCartActivity" />
        <activity android:name=".views.activities.StartActivity" /> <!-- Meta-data for Google Sign-In -->
        <meta-data
            android:name="com.google.android.gms.auth.api.identity.GOOGLE_SIGN_IN_API"
            android:value="true" />
    </application>

</manifest>